<%- include("../includes/header.ejs", {title:"Addresses"}); %>
<h1>Companies</h1>
<ul>
    <li>Address: <%= result[0].street %></li>
    <li>Address(es):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].street + ', ' + result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>