<%- include("../includes/header.ejs", {title: "Update " + address.street}); %>

<h1>Update <%= address.street%></h1>
<form action="/company/update" method="get">
    <input type="hidden" id="street" name="street" value="<%= address.street %>">
    Company Name: <input id="street" name="street" type="text" value="<%= address.street%>"/>
    <br />
    <br />
    Address <br />
    <select id="address_id" name="address_id" multiple="multiple">
        <% for(var i=0; address.length > i; i++ ) {
            var selected = "";

            if(address[i].company_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= address[i].address_id %>" <%= selected %> ><%= address[i].street + ', ' + address[i].zip_code %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>